---
name: ci

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        # os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.13"]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - name: Check out
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          persist-credentials: false

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: uv run --no-dev --group test pytest --doctest-modules --cov --cov-config=pyproject.toml --cov-report=xml

      - name: Upload coverage reports to Codecov on Python 3.13
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574  # v5.4.0
        if: ${{ matrix.python-version == '3.13' && matrix.os == 'ubuntu-latest' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
