---
name: ci

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        # os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.14"]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - name: Check out
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: uv run --no-dev --group test pytest --doctest-modules --cov --cov-config=pyproject.toml --cov-report=xml

      - name: Upload coverage reports to Codecov on Python 3.14
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.5.1
        if: ${{ matrix.python-version == '3.14' && matrix.os == 'ubuntu-latest' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
