---
name: docs

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          persist-credentials: false

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: 3.13

      - name: Install Python dependencies for sphinx docs
        run: uv venv && uv pip install -r docs/requirements.txt

      - name: Run doctest
        run: source .venv/bin/activate && cd docs && make doctest
